* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
}

form{
    padding: 10px;
}

/* button{
    padding-left: 20px;
} */

button {
    --color: brown;
    font-family: inherit;
    display: inline-block;
    width: 10em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    font-size: 17px;
    z-index: 1;
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  button:hover {
    color: white;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }
  
  button:active {
    --color: rgb(170, 85, 85);
  }