<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="links">
        <a href="../index.html">REGRESAR</a>
    </div>
    <div class="content">
        <div class="links">
            <a href="../Controller/handler.php?value=2">AGREGAR PAÍS</a>
        </div>
        <div class="links">
            <a href="../Controller/handler.php?value=3">LISTA DE PAÍSES</a>
        </div>
        <div class="links">
            <a href="../Controller/handler.php?value=4">PORCENTAJE DE PAÍSES CON BLOQUE MILITAR</a>
        </div>
        <div class="links">
            <a href="../Controller/handler.php?value=5">CONTAR PALABRAS EN EL NOMBRE DE PAÍSES</a>
        </div>
    </div>
</body>

</html>